<html>
 <body> 

   <h1> HEllo, world!</h1>
   <h2>  HOSTNAME: <%= node['hostname'] %> </h2>
   <h2> IPaddress: <%= node['ipaddress'] %> </h2>
   CPU: <%= node['cpu']['0']['mhz'] %>
   MEMORY: <%= node['memory']['total'] %>
 </body>
</html>
